* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-color: var(--bg_white);
}

:root {
  /* text color */
  --text_white: #ffffff;
  --text_mute-primary: #424242;
  --text_mute-secondary: #999999;
  --text_mute-third: #464646;
  --text_green-primary: #219653;
  --text_blue-primary: #003087;
  --text_dark-secondary: #40474f;

  /* bg-color */
  --bg_white: #ffffff;
  --bg_white-secondary: #f1f1f1;
  --bg_white-third: #f7f7f7;
  --bg_green-primary: #219653;
  --bg_green-secondary: #47bfaf;
  --bg_green-third: #69b342;
  --bg_green-forth: #f4faf6;
  --bg_orange-secondary: #f16464;
  --bg_blue-secondary: #15bef0;
  --bg_blue-forth: #d9d9d9;
  --bg_mute-third: #464646;
}

/* top nav start */
.topnav {
  background: var(
    --GradientTop,
    linear-gradient(270deg, #219653 70.63%, #18703d 89.51%)
  );
}
.topnav-icons {
  height: 20px;
  width: 20px;
}
.topnav .search-text {
  color: #fff;
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.topnav ul li {
  border-right: 1px solid #ffffff46;
}
.topnav ul li:last-child {
  border-right: none;
  padding-right: 2px !important;
}
/* top nav end */
/* middle-navbar start */
.middle-navbar {
  background-image: url("/assets/images/header-img.jpeg");
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}
.middle-navbar .title {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Noto Sans Bengali;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.middle-navbar .title span {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Noto Sans Bengali;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.middle-navbar .nav-item .nav-link {
  color: var(--text_mute-primary);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding: 8px 16px;
}
.middle-navbar .navbar-toggler {
  background-color: var(--bg_white);
  border: none;
  height: 45px;
  width: 40px;
  border-radius: 10px;
}
/* middle-navbar end */

/* nav-bar start */
.nav-bar {
  background-color: var(--bg_white);
  padding: 12px 5px;
  border-bottom: 1px solid rgba(33, 150, 83, 0.5);
}
.nav-bar .navbar-nav .nav-item .nav-link {
  color: var(--text_mute-primary);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding: 8px 16px;
}
.nav-bar .navbar-nav .nav-item .active {
  border-radius: var(--Medium, 4px);
  background: var(--bg_green-forth);
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 3%;
  margin-top: 0.125rem;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  transform: rotateZ(45deg);
  margin-top: -0.3rem;
}
.nav-bar-lang ul li {
  margin-left: 16px;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.nav-bar-lang .lang-en a {
  color: var(--text_green-primary);
}
.nav-bar-lang .lang-bn a {
  color: var(--text_mute-primary);
}
.navbar .megamenu {
  padding: 1rem;
}
.nav-bar .dropdown-megamenu-style {
  background-color: var(--bg_green-forth);
}

.nav-bar .area-of-expertise-items {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  overflow: hidden;
  color: var(--text_mute-primary);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--bg_white);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-left: 3px solid var(--text_mute-secondary);
}
/* hero-section start */
.hero-section {
  background-image: url("/assets/images/hero-bg-image.png");
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
}
/* hero-section end */
/* major-initiatives start */
.major-initiatives {
  padding: 20px 0px;
}
.major-initiatives .major-initiatives-card:hover {
  background-color: #219653;
  color: var(--text_white);
}
.major-initiatives .major-initiatives-card:hover h5 {
  background-color: #219653;
  color: var(--text_white);
}
.major-initiatives .major-initiatives-card:hover p {
  background-color: #219653;
  color: var(--text_white);
}
.major-initiatives .major-initiatives-card:hover i {
  background-color: #219653;
  color: var(--text_white);
}
.major-initiatives .major-initiatives-title {
  padding: 20px 0px 10px 0px;
  color: #219653;
  font-family: Encode Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}
.major-initiatives .major-initiatives-card-left {
  width: 40%;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}
.major-initiatives .major-initiatives-card-left:hover {
  min-height: 100%;
  background: url(https://picsum.photos/id/1043/800/600) rgba(255, 0, 150, 0.3);
  background-size: cover;
  background-blend-mode: multiply;
}

.major-initiatives .major-initiatives-card-right {
  width: 60%;
}

.major-initiatives .major-initiatives-card-right h5 {
  overflow: hidden;
  color: #219653;
  text-overflow: ellipsis;
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.major-initiatives .major-initiatives-card-right:hover h5 {
  color: var(--text_white);
}
.major-initiatives .major-initiatives-card-right p {
  overflow: hidden;
  color: #424242;
  text-overflow: ellipsis;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.major-initiatives .major-initiatives-card-right i {
  color: var(--text_mute-third);
}
.major-initiatives .major-initiatives-card-right:hover p {
  color: var(--text_white);
}
/* major-initiatives end */
/* section-headline start */
.section-headline {
  padding: 20px 0px;
}
.section-headline .section-headline-title {
  padding: 20px 0px 10px 0px;
  color: #219653;
  font-family: Encode Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}
.section-headline .section-headline-card h2 {
  overflow: hidden;
  color: #40474f;
  text-overflow: ellipsis;
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.section-headline .section-headline-card .line-animate-1 {
  width: 60%;
  height: 5px;
  background: #15bef0;
}
.section-headline .section-headline-card:hover .line-animate-1 {
  width: 100%;
  background: #15bef0;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.section-headline .section-headline-card .line-animate-2 {
  width: 60%;
  height: 5px;
  background: #f16464;
}
.section-headline .section-headline-card:hover .line-animate-2 {
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.section-headline .section-headline-card .line-animate-3 {
  width: 60%;
  height: 5px;
  background: #47bfaf;
}
.section-headline .section-headline-card:hover .line-animate-3 {
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.section-headline .section-headline-card .line-animate-4 {
  width: 60%;
  height: 5px;
  background: #69b342;
}
.section-headline .section-headline-card:hover .line-animate-4 {
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.section-headline .section-headline-card p {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* section-headline end */
/* headline start */
.headline {
  margin: 40px 0px;
}
.headline .headline-title {
  color: #219653;
  font-family: Encode Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 15px;
}
.headline .headline-title-p {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
  font-family: Segoe UI;
  font-size: 14px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
/* headline end */
/* media query start */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .middle-navbar {
    /* padding-top: 5px;
    padding-bottom: 5px; */
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
@media screen and (min-width: 376px) and (max-width: 575.98px) {
  .middle-navbar .middle-navbar-logo {
    height: 40px;
    width: 40px;
  }
  .middle-navbar .title {
    font-size: 16px;
  }
  .middle-navbar .title span {
    font-size: 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 375.98px) {
  .middle-navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .middle-navbar .middle-navbar-logo {
    height: 40px;
    width: 40px;
  }
  .middle-navbar .title {
    font-size: 16px;
  }
  .middle-navbar .title span {
    font-size: 12px;
  }
}
/* media query end */

.navbar .megamenu {
  padding: 1rem;
}

@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    left: 3%;
    right: 2%;
    width: 95%;
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/* nav-bar end */
